<section id="change-password">
    <div class="container">
        <div class="row" *ngIf="isLoading">
            <div class="col-md-12 text-center">
                <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="!isLoading">
            <div class="col-md-12 page-header-title align-self-center">
                <h1>Change Password</h1>
            </div>
        </div>
        <div class="row" *ngIf="!isLoading">
            <div class="col-md-12 content-wrapper rounded-lg bg-white shadow-sm">
                <div class="alert alert-success" role="alert" *ngIf="isPasswordChanged">
                    Your password has been successfully changed.
                </div>
                <div class="alert alert-danger" role="alert" *ngIf="hasError">
                    {{ errorMessage ? errorMessage : "Something went wrong. Please try again." }}
                </div>
                <form class="change-password-form" novalidation (submit)="onChangePassword(changePasswordForm)" #changePasswordForm="ngForm" *ngIf="!isLoading">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="new-password">New Password</label>
                                <input id="new-password" type="password" class="form-control form-control-lg" name="password" aria-describedby="passwordHelp" [ngClass]="{ 'is-invalid': passwordInput.invalid && passwordInput.touched }" ngModel #passwordInput="ngModel" required>
                                <small id="passwordHelp" class="form-text text-muted">
                                    Your password must be 6-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.
                                </small>
                                <div class="invalid-feedback" *ngIf="passwordInput.invalid">
                                    Please enter a password.
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="confirm-password">Confirm New Password</label>
                                <input id="confirm-password" type="password" class="form-control form-control-lg" name="confirmPassword" [ngClass]="{ 'is-invalid': confirmPasswordInput.invalid && confirmPasswordInput.touched }" ngModel #confirmPasswordInput="ngModel" required>
                                <div class="invalid-feedback" *ngIf="confirmPasswordInput.invalid">
                                    Please enter a password.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-end">
                        <div class="col-md-3">
                            <button class="btn btn-primary btn-lg btn-block" type="submit" *ngIf="!isLoading"><i class="fas fa-unlock-alt"></i> Change Password</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>