<section id="forgot-password">
    <div class="row justify-content-center">
        <div class="col-md-12 text-center" *ngIf="isLoading">
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <div class="col-lg-6 content-wrapper rounded-lg bg-white shadow-sm" *ngIf="!isLoading">
            <div class="user-heading">
                <h1>Forgot Your Password?</h1>
                <span class="text-muted">Enter your email address, and reset your password.</span>
            </div>
            <div class="alert alert-success" role="alert" *ngIf="isPasswordReset">
                Your password has been reset. Check your email for your new temporary password.
            </div>
            <div class="alert alert-danger" role="alert" *ngIf="hasError">
                Something went wrong. Please try again. 
            </div>
            <form class="forgot-password-form" novalidation (submit)="onResetPassword(forgotPasswordForm)" #forgotPasswordForm="ngForm" *ngIf="!isLoading">
                <div class="form-group">
                    <label for="signup-email">Email Address</label>
                    <input id="signup-email" type="email" class="form-control form-control-lg" name="email" [ngClass]="{ 'is-invalid': emailInput.invalid && emailInput.touched }" ngModel #emailInput="ngModel" required email>
                    <div class="invalid-feedback" *ngIf="emailInput.invalid">
                        Please enter a valid email address.
                    </div>
                </div>
                <button class="btn btn-primary btn-lg btn-block" type="submit" *ngIf="!isLoading"><i class="fas fa-unlock-alt"></i> Reset Password</button>
            </form>
            <div class="text-center">Don't need to reset your password? <a routerLink="/users/login">Login</a>.</div>
        </div>
    </div>
</section>  